// //fonts

// font-family: 'Amatic SC', cursive;
// font-family: 'Playfair Display SC', serif;
// font-family: 'Cabin Sketch', cursive;
// font-family: 'Fredericka the Great', cursive;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    // background: linear-gradient(to bottom right, #deffc9, #a3f8ff);
}

.App{
    // background-color: #dedede;
    background: linear-gradient(to bottom right, #deffc9, #a3f8ff);
    background-color: whitesmoke;
    // background:;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
  }

.login{
    background: transparent;
    // background-image: url("https://t3.ftcdn.net/jpg/01/21/87/62/240_F_121876251_dqM6afWpVETNG2P6DRbYTA1tU1nGbjM4.jpg");
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .logo{

    }
    .buttons{

    }
}
.HallPicker{
    background: linear-gradient(to bottom right, #deffc9, #a3f8ff);
    display: flex;
    min-height: 100vh;
    //  justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    font-family: "Montserrat";
    color: black;
    font-size: 2em;
    margin-bottom: 25vh;
    font-weight: 1000;

    .title{
        background-color: rgba(255,255,255,.4);
        margin-bottom: 50vh;
        display: flex;
        margin-top: 0 auto;
        align-content: center;
        align-items: center;


    }
    .selector{
        background-color:rgba(255, 255, 255, 0.4);
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 10px;
        width: 40%;
        border-style: solid;
        border-radius: 4px;
        padding: 5px;
        min-height: 2em;
        min-width: 8em;
        //fonts
        font-size: 40px;
        font-family: 'Amatic SC', cursive;
        outline: 0;
        min-width: 50vw;
        min-height: 4vh;
        //fonts
        font-size: 1em;
        font-family: 'Chivo';
        color: gray;
    }
    .btn{
        background: transparent;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-content: center;
        margin-top: 30px;
        border-width: 1px;
        background:black;
        // background-color: #2959b9;
        font-family: Montserrat;
        padding: 10px;

        color: white;
        outline: 0;
        font-size: .6em;
        font-weight: 100;
        :click {
            background-color: white;
        }


    }
}
.header{
    // background: linear-gradient(to bottom right, #deffc9, #a3f8ff);
    // position: sticky;
    // top: 0;
    width: 100vw;
    margin-bottom:4em;
    overflow: hidden;

    display: flex;
    min-height: 4em;
    background:linear-gradient(to bottom right, #2959b9,#f36477);
    border-radius: 20px;
    margin-left: .2em;
    margin-right: .2em;

    .sticky {
        // position: fixed;
        top: 0;
        width: 100%
      }

      /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
      .sticky + .content {
        padding-top: 60px;
      }

    &__name{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        align-self: center;
    }
    &__img{
        margin-top: -12px;
        font-size: 54px;
        position: absolute;
        right: 0;
        top: 0;
    }
    //fonts
    color: black;
    font-family:'Lobster', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    border-style: line;
    font-size: 22px;
}

/* profile class */
.profile {
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 5rem;
    margin: 20px,0,0,20px;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    padding: 5px;
    padding-top: 0;
    padding-right: 0;
    word-wrap: break-word;
    background:white;
    box-shadow: 5px 5px 5px 2px grey;

    color: black;
    font-family:'Chivo', sans-serif;
    &__photo{
        display: flex;
        order: 3;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 0px;
    }

    &__photo__img {
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        max-height: 4rem;
        &__photo {
            max-height: 5rem;
            border-radius: 100px;
        }
    }
    &__photo__time{
        font-size: 10px;
        color: rgb(109, 109, 109);
        align-self: flex-end;
        padding-right: 10px;
    }
    &__info {
        &__name-container {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            display: flex;
            font-size: 15px;
            p {

            }
        }
        &__description {
            font-size: 1 rem;
            // min-height: 4rem;
        }
    }
}

.name{
    border: 0;
    margin: 0;
}

/* carousel */

/* insert media querries here!!!! */
.carousel{
    background-color: rgba(237, 243, 231, 0.8);
    min-height: 400px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 40px;
    margin: 1em;
}




